<html>
    <head>
        <title>HBDU - (Happy BirthDay U)</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Home/css/style.css') }}">
    </head>
    <body>
        <center>
            <div class='control'>
                <h1>
                Give me a NAME!
                </h1>
            </div>
        </center>
        <form autocomplete='off' class='form' action='/v1/say_happy' method='post'>
            <div class='box'>
                <select id="theme" name="theme">
                    <option value="Birthday_1">Birthday 1</option>
                    <option value="Birthday_2">Birthday 2</option>
                    <option value="Birthday_3">Birthday 3</option>
                    <option value="Birthday_4">Birthday 4</option>
                </select>
            </div>
            <div class='control block-cube block-input'>
                <input name='name' placeholder='Name' type='text'>
                <div class='bg-top'>
                <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                <div class='bg-inner'></div>
                </div>
            </div>
            <div class='control block-cube block-input'>
                <input name='author' placeholder='You name' type='text'>
                <div class='bg-top'>
                <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                <div class='bg-inner'></div>
                </div>
            </div>
            <div class='btn block-cube block-cube-hover'>
                <div class='bg-top'>
                <div class='bg-inner'></div>
                </div>
                <div class='bg-right'>
                <div class='bg-inner'></div>
                </div>
                <div class='bg'>
                <div class='bg-inner'></div>
                </div>
                <div class='text'>
                    <input type='submit' value='GO!' class='btn block-cube block-cube-hover'>
                </div>
            <div class='credits'>
                <a href='https://codepen.io/marko-zub/' target='_blank'>
                My other codepens
                </a>
            </div>
            </form>
    </body>
</html>
