<html>
    <head>
        <title>Happy Birthday - HBDU</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Birthday_4/css/style.css') }}">
    </head>
    <body>
        <br/>
        <br/>
        <script>
            function copyToClipboard() {
                navigator.clipboard.writeText(window.location.href).then(function() {
                    console.log('Async: Copying to clipboard was successful!');
                }, function(err) {
                    console.error('Async: Could not copy text: ', err);
                });
            }
        </script>
        <center style="color: white;font-family: 'monospace';">
            <h2>HAPPY BIRTHDAY, {{ name }}!</h2>
            <h4>with &hearts; from {{ author }}</h4>
            <a href="#" onclick="copyToClipboard()">Copy the link</a>
            created by HBDU
        </center>

        <div class='scene'>
            <div class='scene_titanShadow'></div>
            <div class='t_wrap'>
                <div class='scene_titan'>
                <div class='eyes'>
                    <div class='eye eye--left'></div>
                    <div class='eye eye--right'></div>
                </div>
                </div>
            </div>
            <div class='scene_saturn'>
                <div class='scene_saturn__face'>
                <div class='face_clip'>
                    <div class='eye eye--left'></div>
                    <div class='eye eye--right'></div>
                    <div class='mouth'></div>
                </div>
                </div>
                <div class='scene_saturn__shadow'></div>
                <div class='scene_saturn__shadowRing'></div>
                <div class='scene_saturn__sparks'>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                <div class='spark'></div>
                </div>
                <div class='scene_saturn__ring'>
                <div class='small'>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                    <div class='small_part'></div>
                </div>
                <div class='layer'>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                </div>
                <div class='layer'>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                </div>
                <div class='layer'>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                    <div class='layer_part'></div>
                </div>
                </div>
            </div>
        </div>
    </body>
</html>